In [81]:
import pandas as pd
import glob
import os

In [82]:
os.getcwd()

'/Users/sdh/Projects/btc-traffic-analysis/notebooks'

In [83]:
csv_files = glob.glob('../data/*.csv')
csv_files.sort()
for csv_file in csv_files:
    df = pd.read_csv(csv_file, encoding='cp949')
    print(csv_file)
    print(df.columns)
    print(df.shape)
    print(df['역명'].nunique())
    print('#' * 80)

../data/2014.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시~02시', '02시~03시', '03시~04시',
       '04시~05시', '05시~06시', '06시~07시', '07시~08시', '08시~09시', '09시~10시',
       '10시~11시', '11시~12시', '12시~13시', '13시~14시', '14시~15시', '15시~16시',
       '16시~17시', '17시~18시', '18시~19시', '19시~20시', '20시~21시', '21시~22시',
       '22시~23시', '23시~24시', '24시~01시'],
      dtype='object')
(76682, 29)
107
################################################################################
../data/2015.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시~02시', '02시~03시', '03시~04시',
       '04시~05시', '05시~06시', '06시~07시', '07시~08시', '08시~09시', '09시~10시',
       '10시~11시', '11시~12시', '12시~13시', '13시~14시', '14시~15시', '15시~16시',
       '16시~17시', '17시~18시', '18시~19시', '19시~20시', '20시~21시', '21시~22시',
       '22시~23시', '23시~24시', '24시~01시'],
      dtype='object')
(81776, 29)
107
################################################################################
../data/2016.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시~02시', '02시~03시', '03시~04시',
       '04시~05시', '05시~06시', '06시~07시', '07시~08시', '08시~09시', '09시~10시',
       '10시~11시', '11시~12시', '12시~13시', '13시~14시', '14시~15시', '15시~16시',
       '16시~17시', '17시~18시', '18시~19시', '19시~20시', '20시~21시', '21시~22시',
       '22시~23시', '23시~24시', '24시~01시'],
      dtype='object')
(77598, 29)
107
################################################################################
../data/2017.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시',
       '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시',
       '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시',
       '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시',
       '22시-23시', '23시-24시', '24시-01시'],
      dtype='object')
(80458, 29)
113
################################################################################
../data/2018.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시',
       '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시',
       '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시',
       '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시',
       '22시-23시', '23시-24시', '24시-01시'],
      dtype='object')
(81776, 29)
113
################################################################################
../data/2019.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시~02시', '02시~03시', '03시~04시',
       '04시~05시', '05시~06시', '06시~07시', '07시~08시', '08시~09시', '09시~10시',
       '10시~11시', '11시~12시', '12시~13시', '13시~14시', '14시~15시', '15시~16시',
       '16시~17시', '17시~18시', '18시~19시', '19시~20시', '20시~21시', '21시~22시',
       '22시~23시', '23시~24시', '24시~01시'],
      dtype='object')
(81760, 29)
112
################################################################################
../data/2020.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시~02시', '02시~03시', '03시~04시',
       '04시~05시', '05시~06시', '06시~07시', '07시~08시', '08시~09시', '09시~10시',
       '10시~11시', '11시~12시', '12시~13시', '13시~14시', '14시~15시', '15시~16시',
       '16시~17시', '17시~18시', '18시~19시', '19시~20시', '20시~21시', '21시~22시',
       '22시~23시', '23시~24시', '24시~01시'],
      dtype='object')
(81984, 29)
113
################################################################################
../data/2021.csv
Index(['역번호', '역명', '년월일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시',
       '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시',
       '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시',
       '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시',
       '22시-23시', '23시-24시', '24시-01시'],
      dtype='object')
(81760, 29)
112
################################################################################
../data/2022.csv
Index(['역번호', '역명', '년월일', '요일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시',
       '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시',
       '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시',
       '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시',
       '22시-23시', '23시-24시', '24시-01시'],
      dtype='object')
(81760, 30)
112
################################################################################
../data/2023.csv
Index(['역번호', '역명', '년월일', '요일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시',
       '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시',
       '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시',
       '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시',
       '22시-23시', '23시-24시', '24시-01시'],
      dtype='object')
(33824, 30)
185
################################################################################

In [84]:
# df2014를 전처리 한다.
df_2014_raw = pd.read_csv(csv_files[0], encoding='cp949')
df_2014_raw.head()
df_2014_raw.dtypes

역번호          int64
역명          object
년월일        float64
구분          object
합계         float64
01시~02시    float64
02시~03시    float64
03시~04시    float64
04시~05시    float64
05시~06시    float64
06시~07시    float64
07시~08시    float64
08시~09시    float64
09시~10시    float64
10시~11시    float64
11시~12시    float64
12시~13시    float64
13시~14시    float64
14시~15시    float64
15시~16시    float64
16시~17시    float64
17시~18시    float64
18시~19시    float64
19시~20시    float64
20시~21시    float64
21시~22시    float64
22시~23시    float64
23시~24시    float64
24시~01시    float64
dtype: object

In [85]:
# 역번호, 역명, 년월일, 구분, 합계를 확인한다.
print(df_2014_raw['역번호'].unique())
print(df_2014_raw['역명'].unique())

[101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 201 202
 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220
 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238
 239 240 241 242 243 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 401 402 403 404 405 406 407 408 409 410 411 412 413 414]
['신  평' '하  단' '당  리' '사  하' '괴  정' '대  티' '서대신' '동대신' '토  성' '자갈치' '남  포'
 '중  앙' '부산역' '초  량' '부산진' '좌  천' '범  일' '범내골' '1서면' '부  전' '양  정' '시  청'
 '1연산' '교  대' '1동래' '명  륜' '온천장' '부산대' '장  전' '구  서' '두  실' '남  산' '범어사'
 '노  포' '장  산' '중  동' '해운대' '동  백' '벡스코' '센텀시티' '민  락' '수  영' '광  안' '금련산'
 '남  천' '경성대부경대' '대  연' '못  골' '지게골' '문  현' '국제금융센터' '전  포' '2서면' '부  암'
 '가  야' '동의대' '개  금' '냉  정' '주  례' '감  전' '사  상' '덕  포' '모  덕' '모  라'
 '구  남' '구  명' '2덕천' '수  정' '화  명' '율  리' '동  원' '금  곡' '호  포' '증  산'
 '부산대양산' '남양산' '양  산' '좌수영' '망  미' '배  산' '물만골' '3연산' '거  제' '종합운동장'
 '사  직' '미  남' '만  덕' '남산정' '숙  등' '3덕천' '구  포' '강서구청' '체육공원' '대  저' '4동래'
 '수  안' '낙  민' '충렬사' '명  장' '서  동' '금  사' '반여농산물' '석  대' '영산대' '동부산대'
 '고  촌' '안  평']

In [86]:
# 역명사이에 있는 화이트스페이스를 제거한다.
df_2014_raw['역명'] = df_2014_raw['역명'].map(lambda x : x.replace(' ', '').strip())

In [87]:
# 역번호와 역명은 숫자가 동일해야하는데, 역번호는 108, 역명은 107이므로 전처리가 필요하다.
for 역번호, 역명 in zip(df_2014_raw['역번호'].unique(), df_2014_raw['역명'].unique()):
    print(역번호, 역명)

101 신평
102 하단
103 당리
104 사하
105 괴정
106 대티
107 서대신
108 동대신
109 토성
110 자갈치
111 남포
112 중앙
113 부산역
114 초량
115 부산진
116 좌천
117 범일
118 범내골
119 1서면
120 부전
121 양정
122 시청
123 1연산
124 교대
125 1동래
126 명륜
127 온천장
128 부산대
129 장전
130 구서
131 두실
132 남산
133 범어사
134 노포
201 장산
202 중동
203 해운대
204 동백
205 벡스코
206 센텀시티
207 민락
208 수영
209 광안
210 금련산
211 남천
212 경성대부경대
213 대연
214 못골
215 지게골
216 문현
217 국제금융센터
218 전포
219 2서면
220 부암
221 가야
222 동의대
223 개금
224 냉정
225 주례
226 감전
227 사상
228 덕포
229 모덕
230 모라
231 구남
232 구명
233 2덕천
234 수정
235 화명
236 율리
237 동원
238 금곡
239 호포
240 증산
241 부산대양산
242 남양산
243 양산
301 좌수영
302 망미
303 배산
304 물만골
305 3연산
306 거제
307 종합운동장
308 사직
309 미남
310 만덕
311 남산정
312 숙등
313 3덕천
314 구포
315 강서구청
316 체육공원
317 대저
401 4동래
402 수안
403 낙민
404 충렬사
405 명장
406 서동
407 금사
408 반여농산물
409 석대
410 영산대
411 동부산대
412 고촌
413 안평

In [88]:
# 4호선 미남역은 로우가 하나밖에 없다. 따라서 결측치.
# 2014년 데이터에서 4호선 미남역의 데이터는 없다.

In [89]:
df_2014_raw[df_2014_raw['역명'] == '미남'].shape

(731, 29)

In [90]:
df_2014_raw[df_2014_raw['역번호'] == 401]

,역번호,역명,년월일,구분,합계,01시~02시,02시~03시,03시~04시,04시~05시,05시~06시,...,15시~16시,16시~17시,17시~18시,18시~19시,19시~20시,20시~21시,21시~22시,22시~23시,23시~24시,24시~01시
67191,401,미남,20140704.0,하차,179.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
# 역번호가 401인 레코드는 삭제해준다.
df_2014_raw = df_2014_raw.drop(index=67191)

In [92]:
df_2014_raw['_년월일'] = pd.to_datetime(df_2014_raw['년월일'])

In [99]:
df_2014_raw.dtypes

역번호                 int64
역명                 object
년월일               float64
구분                 object
합계                float64
01시~02시           float64
02시~03시           float64
03시~04시           float64
04시~05시           float64
05시~06시           float64
06시~07시           float64
07시~08시           float64
08시~09시           float64
09시~10시           float64
10시~11시           float64
11시~12시           float64
12시~13시           float64
13시~14시           float64
14시~15시           float64
15시~16시           float64
16시~17시           float64
17시~18시           float64
18시~19시           float64
19시~20시           float64
20시~21시           float64
21시~22시           float64
22시~23시           float64
23시~24시           float64
24시~01시           float64
_년월일       datetime64[ns]
dtype: object