In [11]:
import openai
import os
import pandas as pd
import numpy as np
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI

In [12]:
OPENAI_API_KEY  = os.environ['OPENAI_API_KEY']
print(OPENAI_API_KEY)

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

In [7]:
def load_raw_data():
    return pd.read_pickle('../data/df_cleaned.pickle')

In [29]:
df_raw.dtypes

timestamp    datetime64[ns]
id                    int32
name                 object
on                     bool
traffic               int32
dtype: object

In [22]:
df_raw = df_raw.reset_index()

In [23]:
llm = OpenAI(api_token=OPENAI_API_KEY)

In [31]:
df_raw.sample(10)

                   timestamp   id   name     on  traffic
13644885 2021-02-21 03:00:00  133    범어사  False        0
11960768 2020-04-13 20:00:00  411    영산대   True       49
17908380 2023-04-25 04:00:00  309     미남   True        1
15919570 2022-04-20 06:00:00  116     좌천   True      168
17875472 2023-04-19 01:00:00  403     수안   True        0
10978942 2019-10-14 05:00:00  310     만덕   True      118
5055403  2016-09-26 09:00:00  102     하단  False     1181
2354179  2015-04-12 23:00:00  409  반여농산물  False       13
7917559  2018-03-23 18:00:00  406     명장  False      481
10424242 2019-07-03 01:00:00  214     못골   True        2

In [26]:
pandas_ai = PandasAI(llm, verbose=True)
pandas_ai.run(df_raw, prompt='What is the average age of the passengers?')

2023-07-07 19:15:09 [INFO] Question: What is the average age of the passengers?
2023-07-07 19:15:09 [INFO] Running PandasAI with openai LLM...
2023-07-07 19:15:09 [INFO] Prompt ID: 2d4b8c35-cfb1-4ab6-a13a-7296efcdcc81
2023-07-07 19:15:11 [INFO]
                        Code generated:
                        ```
                        import pandas as pd

# Read the dataframe
df = pd.read_csv('data.csv')

# Get the average age of the passengers
average_age = df['age'].mean()

average_age
                        ```

2023-07-07 19:15:11 [INFO]
Code running:
```
average_age = df['age'].mean()
average_age
```
2023-07-07 19:15:20 [INFO] Answer:
2023-07-07 19:15:20 [INFO] Executed in: 11.190623044967651s

''

In [32]:
# First, we need to create a date column from the timestamp
df_raw['date'] = df_raw['timestamp'].dt.date

# Then, we calculate the daily average passenger count for each station
daily_avg = df_raw.groupby(['date', 'name'])['traffic'].mean().reset_index()

# Next, we calculate the overall average for each station
overall_avg = daily_avg.groupby('name')['traffic'].mean()

# Finally, we get the top 10 stations with the highest average passenger count
top_10_stations = overall_avg.nlargest(10)

top_10_stations

name
1서면       1582.322479
2서면       1084.228291
사상         922.853535
남포         865.221188
부산역        861.472063
1연산        816.441998
자갈치        801.579492
센텀시티       789.929501
1동래        769.700318
경성대부경대     725.607991
Name: traffic, dtype: float64

In [33]:
# First, create a column for the day of the week. 
# The day of the week with Monday=0, Sunday=6, so Friday corresponds to 4.
df_raw['day_of_week'] = df_raw['timestamp'].dt.dayofweek

# Filter for only Fridays
df_friday = df_raw[df_raw['day_of_week'] == 4]

# Calculate the average traffic for each station on Fridays
avg_friday_traffic = df_friday.groupby('name')['traffic'].mean()

# Get the top 10 stations with the highest average traffic on Fridays
top_10_stations = avg_friday_traffic.nlargest(10)

top_10_stations

name
1서면       1793.879201
2서면       1221.610574
사상        1039.034453
부산역       1001.730440
1연산        945.186991
남포         927.610064
센텀시티       876.026816
1동래        870.819925
자갈치        846.767269
경성대부경대     825.823702
Name: traffic, dtype: float64